# Prerequisites
*.d
*.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion directories
*.idea/

# VS directories
.vs/

# Build directories
/build/
/cmake-build-debug/
.idea/workspace.xml
build/debug/build.ninja
build/debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
build/debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
build/debug/CMakeFiles/clion-Debug-log.txt
build/debug/CMakeFiles/clion-environment.txt
build/debug/CMakeFiles/CMakeConfigureLog.yaml
build/release/.ninja_deps
build/release/.ninja_log
build/release/build.ninja
build/release/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
build/release/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
build/release/CMakeFiles/clion-environment.txt
build/release/CMakeFiles/clion-Release-log.txt
build/release/CMakeFiles/CMakeConfigureLog.yaml
